.section {
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  margin-bottom: 2rem;
}

.sliderActions,
.labelActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem auto;
}
/*
.sliderActions label,
.sliderActions input,
.sliderActions div,
.sliderActions span {
    margin:0.5rem;
}
*/
.sliderActions span {
  text-align: right;
}

.sliderActions label,
.sliderActions span {
  align-self: flex-start;
}

.sliderActions {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

.input {
  width: 40%;
  margin: 0 0.5rem;
  position: relative;
}
/*
.sliderActions label,
.labelActions label,
.labelActions span {
    font-size: large;
}
*/
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list li {
  font-size: small;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  background-color: #8a2b0621;
  border-radius: 0.5rem;
  height: 0.5rem;
  margin: 0;
}

/* The slider handle */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #8a2b06;
  cursor: pointer;
}

.button {
  background-color: #8a2b0621;
  border: transparent;
  color: #8a2b06;
  margin: 0.2rem;
  font: inherit;
  border-radius: 0.75rem;
  padding: 0.2rem 0.75rem;
}

.button:active,
.button:focus,
.button:hover {
  background-color: #8a2b06;
  color: white;
}

.active {
  background-color: #8a2b06;
  color: white;
}

.bubble {
  background: #8a2b06;
  color: white;
  padding: 0.25rem 0.75rem;
  position: absolute;
  border-radius: 0.25rem;
  top:0%;
  left: 100%;
  transform: translate(-50%,-80%);
  font-size: small;
}
.bubble::before {
  content: "";
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #8a2b06;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translateX(-50%);
}
