.summary {
  background-color: transparent;
  padding: 0 3rem;
  display: grid;
  gap: 4rem;
  margin: 8rem 0 5rem;
}

.summary h2 {
  font-size: 2.5rem;
  margin: 0;
  text-align: left;
}

.underline {
  width: 5rem;
  height: 0.2rem;
  background-color: #8a2b06;
  margin: 0;
}

.img {
  width: 100%;
  height: 500px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  object-fit: cover;
}

.summary p {
  padding: 0;
  text-align: justify;
  line-height: 1.5;
  margin: 1rem 0;
}

.main {
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  margin-top: 1rem;
  background-color: #4d1601;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  outline: none;
  min-width: 10rem;
  max-width: 25rem;
  padding: 1rem 0.5rem;
  border: 1px solid #4d1601;
  border-radius: 2rem;
  font: inherit;
  transition: all 0.3s ease-out;
  text-align: center;
}

.main a {
  text-decoration: none;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
}

.subInfo {
  font-size: 1rem;
  font-weight:400;
}

.span {
  font: inherit;
  font-weight: bold;
  color: #8a2b06;
  letter-spacing: 0.05rem;
}

.formContainer {
  width:100%;
  height:3rem;
}

.form {
  display: flex;
  max-width:20rem;
  justify-content: space-between;
  align-items: center;
}


@media screen and (min-width: 800px) {
  .summary {
    margin-top: 8rem;
    grid-template-columns: 1fr 1fr;
  }
}
