.meal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }

  .title {
    cursor:pointer;
    color:black;
    width:fit-content;
  }

  .meal a {
    text-decoration: none;
    color:black;
    width:75%;
    cursor:pointer;
  }
  
  .meal h3 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    font-style: italic;
    color:black;
  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
  }

  .bump {
    animation: bump 300ms ease-out;
  }


  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(1.02);
    }
    50% {
      transform: scale(1.04);
    }
    75% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }