.section {
  max-width: 60rem;
  width: 90%;
  margin: 5rem auto;
}

.form {
  width: 80%;
  max-width: 27rem;
  height: auto;
  background-color: white;
  color: #969292;
  border: 3px solid #4d1601;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
  padding-bottom: 1rem;
}
h1 {
  text-align: center;
}
.actions {
  text-align: center;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #4d1601;
}
.actions button {
  padding: 0;
  font: inherit;
  color: #4d1601;
  background-color: white;
  display: inline-block;
  width: 50%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: larger;
}

.firstButton {
  border-right: 3px solid #4d1601 !important;
  border-radius: 0.75rem 0 0 0;
}

.secondButton {
  border-radius: 0 0.75rem 0 0;
  border-left: none;
}

.actions button:active,
.actions button:focus,
.actions button:hover {
  background-color: #4d1601;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  color: white;
  transition: all 0.3s ease-out;
}

.activeButton {
  background-color: #4d1601 !important;
  color: white !important;
}
.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.control input {
  width: 90%;
  margin-bottom: 0.5rem;
  font: inherit;
  border-radius: 0.5rem;
  border: 0.5px solid rgb(126, 125, 125);
}

.control label {
  font: bold;
}

.submit {
  text-align: center;
}

.submit button {
  margin-top: 1rem;
  background-color: #4d1601;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  outline: none;
  min-width: 15rem;
  max-width: 25rem;
  padding: 1rem 0.5rem;
  border: 1px solid #4d1601;
  border-radius: 2rem;
  font: inherit;
  transition: all 0.3s ease-out;
}
.submit button:hover,
.submit button:active,
.submit button:focus {
    background-color:#8a2b06;
    border:1px solid #8a2b06;
}

.bump {
  animation: bump 300ms ease-out;
}

.link {
  color: #4d1601;
  text-decoration-line: solid #4d1601 1px;
  font-size: small;
  align-self: flex-end;
  padding-right: 2rem;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}

.alert {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  width: 90%;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 800px) {
  .form {
    max-width: 60%;
    height: auto;
  }
}
